In [7]:
# Importing the required libraries
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.tree import plot_tree

In [13]:
# Import data dari CSV
data = pd.read_csv('./dataset.csv')
data.head()

,Sensor1,Sensor2,Sensor3,Sensor4,Sensor5,Sensor6,Sensor7,Sensor8,Sensor9,Sensor10,Kondisi
0,NoData,NoData,NoData,NoData,NoData,NoData,NoData,NoData,NoData,More,Vandalisme
1,NoData,NoData,NoData,NoData,NoData,NoData,NoData,NoData,More,NoData,Vandalisme
2,NoData,NoData,NoData,NoData,NoData,NoData,NoData,More,NoData,NoData,Vandalisme
3,NoData,NoData,NoData,NoData,NoData,NoData,More,NoData,NoData,NoData,Vandalisme
4,NoData,NoData,NoData,NoData,NoData,More,NoData,NoData,NoData,NoData,Vandalisme

In [14]:
# Konversi tiap value kedalam bentuk angka
data.loc[data['Sensor1'] == 'NoData', 'Sensor1'] = 0
data.loc[data['Sensor1'] == 'Less', 'Sensor1'] = 1
data.loc[data['Sensor1'] == 'More', 'Sensor1'] = 2

data.loc[data['Sensor2'] == 'NoData', 'Sensor2'] = 0
data.loc[data['Sensor2'] == 'Less', 'Sensor2'] = 1
data.loc[data['Sensor2'] == 'More', 'Sensor2'] = 2

data.loc[data['Sensor3'] == 'NoData', 'Sensor3'] = 0
data.loc[data['Sensor3'] == 'Less', 'Sensor3'] = 1
data.loc[data['Sensor3'] == 'More', 'Sensor3'] = 2

data.loc[data['Sensor4'] == 'NoData', 'Sensor4'] = 0
data.loc[data['Sensor4'] == 'Less', 'Sensor4'] = 1
data.loc[data['Sensor4'] == 'More', 'Sensor4'] = 2

data.loc[data['Sensor5'] == 'NoData', 'Sensor5'] = 0
data.loc[data['Sensor5'] == 'Less', 'Sensor5'] = 1
data.loc[data['Sensor5'] == 'More', 'Sensor5'] = 2

data.loc[data['Sensor6'] == 'NoData', 'Sensor6'] = 0
data.loc[data['Sensor6'] == 'Less', 'Sensor6'] = 1
data.loc[data['Sensor6'] == 'More', 'Sensor6'] = 2

data.loc[data['Sensor7'] == 'NoData', 'Sensor7'] = 0
data.loc[data['Sensor7'] == 'Less', 'Sensor7'] = 1
data.loc[data['Sensor7'] == 'More', 'Sensor7'] = 2

data.loc[data['Sensor8'] == 'NoData', 'Sensor8'] = 0
data.loc[data['Sensor8'] == 'Less', 'Sensor8'] = 1
data.loc[data['Sensor8'] == 'More', 'Sensor8'] = 2

data.loc[data['Sensor9'] == 'NoData', 'Sensor9'] = 0
data.loc[data['Sensor9'] == 'Less', 'Sensor9'] = 1
data.loc[data['Sensor9'] == 'More', 'Sensor9'] = 2

data.loc[data['Sensor10'] == 'NoData', 'Sensor10'] = 0
data.loc[data['Sensor10'] == 'Less', 'Sensor10'] = 1
data.loc[data['Sensor10'] == 'More', 'Sensor10'] = 2

data.loc[data['Kondisi'] == 'Vandalisme', 'Kondisi'] = 3
data.loc[data['Kondisi'] == 'Normal', 'Kondisi'] = 0
data.loc[data['Kondisi'] == 'GempaTidakMerusak', 'Kondisi'] = 2
data.loc[data['Kondisi'] == 'GempaMerusak', 'Kondisi'] = 1

data = data.apply(pd.to_numeric, errors='coerce')
data.head()

,Sensor1,Sensor2,Sensor3,Sensor4,Sensor5,Sensor6,Sensor7,Sensor8,Sensor9,Sensor10,Kondisi
0,0,0,0,0,0,0,0,0,0,2,3
1,0,0,0,0,0,0,0,0,2,0,3
2,0,0,0,0,0,0,0,2,0,0,3
3,0,0,0,0,0,0,2,0,0,0,3
4,0,0,0,0,0,2,0,0,0,0,3

In [18]:
# Putting feature variable to X
X = data.drop('Kondisi',axis=1)
# Putting response variable to y
y = data['Kondisi']

In [19]:
# now lets split the data into train and test
from sklearn.model_selection import train_test_split

In [28]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)
X_train.shape, X_test.shape

((41271, 10), (17688, 10))

In [29]:
classifier_rf = RandomForestClassifier(random_state=42, n_jobs=-1, max_depth=5,
                                       n_estimators=100, oob_score=True)

In [30]:
%%time
classifier_rf.fit(X_train, y_train)

Wall time: 1.32 s

RandomForestClassifier(max_depth=5, n_jobs=-1, oob_score=True, random_state=42)

In [31]:
# checking the oob score
classifier_rf.oob_score_

0.8979913256281651

In [32]:
rf = RandomForestClassifier(random_state=42, n_jobs=-1)

In [33]:
params = {
    'max_depth': [2,3,5,10,20],
    'min_samples_leaf': [5,10,20,50,100,200],
    'n_estimators': [10,25,30,50,100,200]
}

In [34]:
from sklearn.model_selection import GridSearchCV

In [35]:
# Instantiate the grid search model
grid_search = GridSearchCV(estimator=rf,
                           param_grid=params,
                           cv = 4,
                           n_jobs=-1, verbose=1, scoring="accuracy")

In [36]:
%%time
grid_search.fit(X_train, y_train)

Fitting 4 folds for each of 180 candidates, totalling 720 fits
Wall time: 4min 43s

GridSearchCV(cv=4, estimator=RandomForestClassifier(n_jobs=-1, random_state=42),
             n_jobs=-1,
             param_grid={'max_depth': [2, 3, 5, 10, 20],
                         'min_samples_leaf': [5, 10, 20, 50, 100, 200],
                         'n_estimators': [10, 25, 30, 50, 100, 200]},
             scoring='accuracy', verbose=1)

In [37]:
grid_search.best_score_

0.9995880890746849

In [38]:
rf_best = grid_search.best_estimator_
rf_best

RandomForestClassifier(max_depth=10, min_samples_leaf=5, n_estimators=25,
                       n_jobs=-1, random_state=42)

In [67]:
from sklearn.tree import plot_tree
plt.figure(figsize=(2,5))
plot_tree(rf_best.estimators_[70], feature_names = X.columns,class_names=['Gempa', "Tidak Gempa"],filled=True);

IndexError: list index out of range

In [64]:
rf_best.feature_importances_

array([0.09490316, 0.09873699, 0.10049285, 0.09793591, 0.09967956,
       0.10200713, 0.09188724, 0.10254138, 0.10561949, 0.10619628])

In [58]:
imp_df = pd.DataFrame({
    "Varname": X_train.columns,
    "Imp": rf_best.feature_importances_
})

In [49]:
imp_df.sort_values(by="Imp", ascending=False)

    Varname       Imp
9  Sensor10  0.106196
8   Sensor9  0.105619
7   Sensor8  0.102541
5   Sensor6  0.102007
2   Sensor3  0.100493
4   Sensor5  0.099680
1   Sensor2  0.098737
3   Sensor4  0.097936
0   Sensor1  0.094903
6   Sensor7  0.091887